/* reset */
*{
    margin: 0; padding: 0;
}
html{
    font-size:0.625em;
    scroll-behavior: smooth;
}
h2,h3,h4,p{
    color: #fff;
}
img{width:100%;}
.hide{
    overflow: hidden;
    position: absolute;
    width: 0; height: 0;
    line-height: 0; 
    text-indent: -9999px;
}
.clear::after,.clear::before{
    content:'';
    display: block;
    clear:both;
}
/* layout */
#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
} 
.container{
    position: relative;
    width: 100%;
    max-width: 83.42%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/blue_dia.jpg);
    background-position: top;
    background-size: contain;
    overflow:hidden;
}
#header .container{
   position: static;
}
.gnb{
        float: right;
    }
.gnb ul{
    padding-top: 25px;
}
.gnb ul li{
    display: inline-block; 
    padding-left: 30px;
}
.gnb ul li a{
    display: block; 
    position: relative;
    color: #ffff;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    transition: color 0.5s;
}
.gnb ul li:hover a{
    color: #0E1B2D;
}
.logo {
    display: inline-block;
    width: 9.8vw;
    height: 6vw;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 10;
    left: 13%;
}
.leaf{
    width: 25%;
    height: 23vw;
    background: url(../img/leaf_alomond1.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: -200px;
    top: 2vw;
    transform: rotate(10deg);
    opacity: 0;
}
.fruit_st{
    display: block;
    width: 23%;
    height: 214px;
    position: absolute;
    left: 0;
    top: 18px;
    background: url(../img/almond_piece.png) no-repeat;
    background-size: contain;
}
.fruit{
    display: block;
    width: 23%;
    height: 11vw;
    position: absolute;
    left: 0;
    top: 18px;
    background: url(../img/almond_piece.png) no-repeat;
    background-size: contain;
    animation: fruit 3s linear 2s infinite;
    animation-fill-mode: forwards;
    
}
@keyframes fruit{
    0%{
        top: 18px;
    }
    10%{
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(20deg);
    }
    80%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.dr_almond{
    opacity: 0;
}
.halmond {
    width: 45px;
    height: 67px;
    background: url(../img/almond_1.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 24%;
    top: 292px;
    transform: rotate3d(1, 1, -2, 71deg);
}
.palmond{
    width: 14%;
    height: 306px;
    background: url(../img/drop_almond.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 26%;
    top: 361px;
    transform: rotate(19deg);
}
.flower1{
    width: 23vw;
    height: 15vw;
    background: url(../img/blossom_f.png)no-repeat;
    background-size: contain;
    position: absolute;
    right: -10%;
    top: 17vh;
    transform: rotate(-33deg);
    z-index: 10;
}
.petal_fir{
    width: 3vw;
    height: 4vw;
    background: url(../img/petal.png)no-repeat;
    background-size: cover;
    position: absolute;
    left: 95%;
    top: -10px;
    transform: rotate(-106deg);
    animation: petal1 1s ease-out 2.5s;
    animation-fill-mode: forwards;
    z-index: 10;
}
.petal_sec{
    width: 3vw;
    height: 4vw;
    background: url(../img/petal.png)no-repeat;
    background-size: cover;
    position: absolute;
    left: 100%;
    top: -10%;
    transform: rotate(-45deg);
    transform: rotate3d(7, 7, -5, 66deg);
    animation: peta2 3s ease-out 3.5s;
    animation-fill-mode: forwards;
    z-index: 10;
 }
 .petal_thir{
    width: 2.1vw;
    height: 3vw;
    background: url(../img/petal2.png)no-repeat;
    background-size: cover;
    position: absolute;
    left: 105%;
    top: 10%;
    transform: rotate(-33deg);
    animation: peta3 4s ease-out 5s;
    animation-fill-mode: forwards;
    z-index: 10;
 }
@keyframes petal1{
    /* 0%{
        left: 95%;
        top: 1%;
        transform: rotate(-48deg);
    } */
    100%{
        left: 59%;
        top: 4vw;
        transform: rotate3d(8, 3, -4, 67deg);
    }
}
@keyframes peta2{
    0%{
        left: 100%;
        transform: rotate(-45deg);
    }
    100%{
        left: -14%;
        top: 86%;
        transform: rotate3d(4, 2, -4, 70deg);
    }
}
@keyframes peta3{
    0%{
        left: 105%;
        top: 10%;
        transform: rotate(-33deg);
    }
    100%{
        left: 84%;
        top: 90%;
        transform: rotate3d(5, 2, -4, 60deg);
    }
}
.flower2{
    width: 25%;
    height: 380px;
    background: url(../img/blossom_2.png)no-repeat;
    background-size: contain;
    position: absolute;
    right: -24%;
    bottom: 40px;
    transform: rotate(176deg);
    z-index: 30;
}
.font_wrap{
    position: absolute;
    bottom: 153px;
    left: 15%;
    z-index: 10;
    opacity: 0;
}
.font_wrap::after{
    content: '';
    display: block;
    width: 33%;
    height: 310px;
    background: url(../img/font-deco.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: -15%;
    top: -35px;
    z-index: -1;
}
.hbtn{
    width: 190px;
    height: 58px;
    margin-top: 36px;
    color: #0E1B2D;
    font-size: 1.6rem;
    font-weight: bold;
    background: rgba(172, 221, 236,.5);
    border: 2px solid #fff;
    box-sizing: border-box;
    transition: background-color 0.8s ease, color 0.5s ease;
    
}
.hbtn:hover{
    width: 190px;
    height: 58px;
    border: none;
    background-color: #0E1B2D;
    color: #fff;
    transition: background-color 0.8s ease, color 0.5s ease;
}

#header h2{
    font-size: 2.4vw;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    z-index: 5;
}
#header p{
    width: 500px;
    font-size: 2.6rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.4;
    z-index: 5;
}
.prod_breez{
    width: 30%;
    height: 32vw;
    background: url(../img/breez_poroduct.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 18%;
    bottom: 50px;
    opacity: 0;
}
.drop_water{
    display: block;
    position: absolute;
    left: -14%;
    top: 66%;
    width: 40%;
    height: 26vw;
    opacity: 0;
}
.drop_water > div{
    margin: 14.5vw auto;
}
.drop_water .drop{
    position: relative;
    width: 20px;
    height: 20px;
    top: -50%;
    left: -2%;
    margin: 0 auto;
    background: #F2E5CD;
    border-radius: 20px;
    animation: drip;
    animation-timing-function: cubic-bezier(1,0,.91,.9);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.drop_water .drop::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #F2E5CD;
    top: -20px;
}
.drop_water .wave{
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: 7px solid #F2E5CD;
    border-radius: 50%;
    animation-name: ripple;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.drop_water .wave::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 2px;
    height: 1px;
    border: 7px solid #F2E5CD;
    border-radius: 50%;
    opacity: 0;
    animation-name: ripple_2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes ripple{
    from{
        opacity: 1;
    }
    to{
        width: 400px;
        height: 100px;
        top:-100px;
        opacity: 0;
    }
} 
 @keyframes drip{
     to{
         top: 190px;
     }
 }
 @keyframes ripple_2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        width: 280px;
        height: 70px;
        border-width: 3px;
        opacity: 1;
    }
} 
#history,#our_Way, #health{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 1vw 0 3vw;
    overflow: hidden;
    background: url(../img/op_bg.png);
    background-position: top;
    background-size: contain;
    
}
#history .container{
    position: relative;
    width: 100%;
    max-width: 83.42%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
}
.hright_text{
    width: 45%;
    display: inline-block;
    position: absolute;
    right: -50%;
    top: 50%;
    text-align: right;
    z-index:2;
    opacity:0
}
.hright_text::before{
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 11vw;
    height: 10vw;
    background: url(../img/gren_bg.png)no-repeat;
    background-size: cover;
    z-index: -1;
}
.hright_text::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: -29%;
    width: 11vw;
    height: 10vw;
    background: url(../img/gren_bg.png)no-repeat;
    background-size: cover;
    z-index: -1;
}
.hright_text::after{
    content: '';
    display: inline-block;
    position: absolute;
    right: -10%;
    top: 9%;
    width: 10vw;
    height: 10vw;
    background: url(../img/beg_bg.png)no-repeat;
    background-size: cover;
    z-index: -1;
}
.hright_text h3{
    font-size: 5.5rem;
}
.hright_text p{
    margin-top: 5vh;
    font-size: 2.5rem;
    line-height: 1.2;
}
.pack{
    position: absolute;
    right: 0;
    top: -4%;
    width: 39vw;
    height: 31vh;
    background: url(../img/pack.png)no-repeat;
    background-size: cover;
    opacity: 0;
}
.pack .p_al{
    display: block;
    position: absolute;
    width: 5vh;
    height: 6vh;
    background: url(../img/almond_1.png) no-repeat;
    background-size: contain;
}
.pack .p_al1{
    left: 25%;
    top: 10vw;
}
.pack .p_al2{
    left: 10%;
    top: 9vw;
}
.pack .p_al3{
    left: 50%;
    top: 12vw;
}
.pack .p_al4{
    left: 60%;
    top: 13vw;
}
.hleft{
    position: absolute;
    left: -60%;
    top: 24%;
    width: 30%;
    height: 52%;
    opacity:0;
}
.almond_can{
    position: absolute;
    top: 6%;
    left: 30%;
    width: 15vw;
    height: 24vw;
    background: url(../img/can.png)no-repeat;
    background-size: cover;
    transform: rotate(16deg);
    animation: shake 0.6s alternate infinite;
    z-index: 2;
}
@keyframes shake{
    0%{
        transform : rotate(0deg) translateX(0px)};
    50%{
        transform : rotate(-10deg) translateX(-10px)};
    75%{
        transform : rotate(10deg) translateX(10px)};
    100%{
        transform : rotate(0deg) translateX(0px)};
}
.can_bg{
    width: 28vw;
    height: 31vw;
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
    background-image: linear-gradient(to right top, #9FE7FF, #fff 150%);
    animation: wave 5s linear infinite;
    box-shadow: #136A88 -36px 40px;
}
@keyframes wave{
    20%{
        border-radius: 45% 55% 62% 38% / 54% 51% 49% 47%;
    }
    40%{
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
    }
    60%{
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
    }
    80%{
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
    }
}
.tit_cont{
    font-size: 4.5rem;
    text-align: center;
}
#our_Way h3, #health h3{
    position: absolute;
    left: 50%;
    top: -10vh;
    transform: translate(-50%);
    z-index: 2;
    opacity: 0;
}
#our_Way h3::after, #health h3::after{
    content:'';
    display:inline-block;
    width: 16rem;
    height: 8rem;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='220' height='110' viewBox='0 0 220 110'%3E%3Cg id='제외_1' data-name='제외 1' fill='%23029ace'%3E%3Cpath d='M 109.9998016357422 107.2047119140625 L 5.590155601501465 54.99990081787109 L 109.9998016357422 2.795090198516846 L 214.4094543457031 54.99990081787109 L 109.9998016357422 107.2047119140625 Z' stroke='none'/%3E%3Cpath d='M 109.9998016357422 104.4096221923828 L 208.8192443847656 54.99990081787109 L 109.9998016357422 5.590190887451172 L 11.18033790588379 54.99989318847656 L 109.9998016357422 104.4096221923828 M 109.9995651245117 109.9998931884766 L 109.9998016357422 109.9997940063477 L 1.635742137295892e-06 54.99989318847656 L 109.9998016357422 2.470499748596922e-05 L 219.9958343505859 54.99802398681641 L 219.9996032714844 54.99989318847656 L 109.9998016357422 109.9997940063477 L 109.9995651245117 109.9998931884766 Z' stroke='none' fill='%23f8924f'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    background-size: cover;
    z-index: -1;
}
.line_bg{
    width: 0%;
    height: 0.3vw;
    position:absolute;
    top: 45%;
    left: 0;
    transform: translateY(-45%);
    /* background-color: #029ACE; */
    background-color: #fff;
}
.way_wrap {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 90%;
    height: auto;
    transform: translate(-50%,-45%);
}
.way{
    position: relative;
    float: left;
    width: 33.333%;
    height: 20vw;
    background: url(../img/way2.png)no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
}
.way_sec{
    background-image: url(../img/way1.png);
   
}
.way_thr{
    background-image: url(../img/way3.png);
}
.rond_svg{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 48%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    /* background-color: rgba(172,221,236,.7); */
    opacity: 1;
}
.rond_svg >svg{
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.way_thr .rond_svg >svg{
    width: 75%;
    height: 75%;
}
.way_text{
    position: absolute;
    left: 0;
    top: 0;
    height: 12vw;
    margin: 1vw 1.5% 0;
    background-color: rgba(255,255,255,.5);
    padding: 2vw 2vw 1.6vw;
    border: 2px solid #ffff;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
}
.way .way_text2{ 
    padding: 2vw 2vw 3.2vw;
}
.way .way_text3{
    padding: 2vw 2vw 1.8vw;
}
.way_text h4{
    font-size:2.5rem;
    color:#0E1B2D;
}
.way_text p{
    font-size: 2rem;
    margin-top: 0.6vw;
    color: #0E1B2D;
    line-height: 1.5;
    font-weight: 500;
}
#health{
    height: 100vh;
    width: 100%;
}
#layer_w{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
}
#health .hand{
    width: 22vw;
    height: 27vw;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-top: -13vw;
    margin-left: -8vw;
}
#health .nutri{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 11vw;
}
#health .heart{
    position: absolute;
    left: 70%;
    top: 80%;
    width: 7vw;
    animation:heart_b 1.5s infinite;
}
#health .nutri::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 11vw;
    height: 11vw;
    background: url(../img/fruit.png)no-repeat;
    background-size: contain;
    opacity:0;
    animation:nutri_b 2s infinite;
}
#health .nutri::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 11vw;
    height: 11vw;
    background: url(../img/milk_B.png)no-repeat;
    background-size: contain;
    opacity:0;
    animation:nutri_b 2s infinite;
}
#health .weight{
    position: absolute;
    top: 75%;
    left: 20%;
    width: 9vw;
}
#health .weight:after{
    content: '';
    display: inline-block;
    background:url(../img/line.png)no-repeat;
    background-size: contain;
    width:0.7vw;
    height: 1.8vw;
    position:absolute;
    left: 50%;
    top: 12%;
    margin-left: -0.35vw;
    animation: weig_lin 1s infinite;
}
@keyframes weig_lin{
    0%{
        transform:rotate(0);
    }
    40%{
        transform:rotate(-60deg);
        left:49%;
        top:13%;
    }
    80%{
        transform:rotate(45deg);
        left: 50%;
        top:13%;
    }
}
@keyframes heart_b{

  90%{
    width: 8vw;
  }
}
.healt_l  p{
    display: inline-block;
    position: absolute;
    bottom: -2vw;
    left: 50%;
    font-size: 2.4rem;
    white-space: nowrap;
    transform: translateX(-50%);
}
@keyframes nutri_b{
    70%{opacity: 1;}
}
/* legacy */
#legacy{
    position:relative;
    width:100%;
    height:400vh;
    padding: 1vw 0 3vw;
}
#legacy h3.tit_cont1{
    color:#029ACE;
    position:absolute;
    left:50%;
    top:-16vh;
    transform: translateX(-50%);
    font-size: 4.5rem;
    text-align: center;
    z-index: 2;
    opacity:0;
}
.lagacy_sec{
    width:100%;
    height: 100vh;
    position:relative;
}
.sec1 .left_f{
    position: absolute;
    left: -10%;
    top: 30vw;
    width: 36vw;
    height: 20vw;
    background: url(../img/legacy_1.png)no-repeat;
    background-size: cover;
    transform: rotate(-3deg);
    opacity: 0;
}
.sec1 .right_f{
    position:absolute;
    right:-10%;
    top: 30vw;
    width: 50%;
    opacity: 0;
}
.sec1 .right_f>div{
    position: absolute;
    right: -27%;
    top: -15vw;
    width: 32vw;
    height: 22vw;
    background: url(../img/blossom_2.png)no-repeat;
    background-size: cover;
    transform: rotate(-180deg);
}
.sec2 .left_f{
    position: absolute;
    left: -10%;
    top: 30vw;
    width: 50%;
    opacity:0;
}
.sec2 .right_f{
    position: absolute;
    right: -10%;
    top: 30vw;
    width: 36vw;
    height: 20vw;
    background: url(../img/legacy_2.png)no-repeat;
    background-size: cover;
    transform: rotate(3deg);
    opacity:0;
}
.sec2 .left_f>div{
    position: absolute;
    left: -27%;
    top: -15vw;
    width: 32vw;
    height: 22vw;
    background: url(../img/leaf_alomond1.png)no-repeat;
    background-size: cover;
}
.sec3{
    height:130vh;
}
.sec3 .left_f{
    position: absolute;
    left: 3%;
    top: 24vw;
    width: 30vw;
    height: 30vw;
    background: url(../img/legacy_3.png)no-repeat;
    background-size: cover;
    transform: rotate(-3deg);
}
.sec3 .right_f{
    position: absolute;
    right: 0%;
    top: 30vw;
    width: 50%;
}
.sec3 .right_f>div{
    position: absolute;
    right: 0;
    top: -31vw;
    width: 11vw;
    height: 16vw;
    background: url(../img/float_almond1.png)no-repeat;
    background-size: contain;
}
.sec3 .right_f>div:nth-child(2){
    position: absolute;
    right: -4vw;
    top: -15vw;
    width: 13vw;
    height: 19vw;
    background: url(../img/float_almond3.png)no-repeat;
    background-size: contain;
}
.sec3 .right_f>div:nth-child(3){
    position: absolute;
    right: -4vw;
    top: 5vw;
    width: 13vw;
    height: 19vw;
    background: url(../img/float_almond2.png)no-repeat;
    background-size: contain;
}
.sec3 .right_f p{
    position: absolute;
    top: 13vw;
    right: 0;
    width: 90%;
    color: #029ACE;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.5;
}
.right_f p{
    position: absolute;
    top: 16vw;
    right: 0;
    width: 90%;
    color: #029ACE;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.5;
}
.left_f p{
    position: absolute;
    top: 16vw;
    left: 0;
    width: 90%;
    color: #029ACE;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
}
.legac_line{
    width:3vw;
    height: 100%;
    margin: 10vw auto 0;
    position: absolute;
    left:50%;
    margin-left:-1.5vw;
}
.dia_svg{
    width:5vw;
    height:3vw;
    transform: translateX(-1vw);
    position: absolute;
    top: -10vw;
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 24' class='dia_svg'%3E%3Cpath fill-rule='evenodd' d='M22 0l22 12-22 12L0 12' fill='%23029ACE' %3E%3C/path%3E%3C/svg%3E") no-repeat;
    opacity:0;
}
.dia_line1{
    width:0.2vw;
    background:#029ACE;
    position:absolute;
    left:50%;
    top: 0%;
    margin-left:-0.1vw;
}
